@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* COLORS */
  --primary-bg-color: #181a2a;
  --secondary-bg-color: #242535;
  --accent-color: #4b6bfb;
  --primary-font-color: #fff;
  --secondary-font-color: #a1a1aa;
  --ad-font-color: #696a75;

  /* FONT */
  --font-size-sm: 1.4rem;
  --font-size-base: 1.6rem;
  --font-size-md: 2rem;
  --font-size-semi-bold: 3rem;
  --font-family: "Work Sans", serif;

  --line-height-semi-bold: 3.5rem;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: var(--font-size-base);
  color: var(--primary-font-color);
  font-family: var(--font-family);
  padding: 0 10rem;
  background: var(--primary-bg-color);
}

/* GENERAL STYLING */
a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

img {
  width: 100%;
  height: 100%;
}

/* HOMEPAGE */
/* HEADER */
.header {
  background: var(--primary-bg-color);
  /* padding: 0 10rem; */
}

/* NAVBAR */
.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--primary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 10rem;
  gap: 10px;
  z-index: 1000;
}

.logo {
  width: 15.6rem;
  height: 3.6rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2.1rem;
  line-height: 2.4rem;
}

.nav-links li {
  transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-links li:hover {
  color: var(--accent-color);
  text-shadow: 0 0 10px var(--accent-color), 0 0 20px var(--accent-color),
    0 0 40px var(--accent-color);
}

.nav-links li .active {
  color: var(--primary-font-color);
  text-shadow: 0 0 10px var(--primary-font-color),
    0 0 20px var(--primary-font-color), 0 0 40px var(--primary-font-color);
}

.search-container {
  position: relative;
  font-size: var(--font-size-sm);
  width: 17rem;
  height: 3.6rem;
}

.search-toggle {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.search-item {
  width: 100%;
  background: var(--secondary-bg-color);
  border: none;
  outline: none;
  padding: 0.8rem;
  padding-left: 1.6rem;
  border-radius: 0.5rem;
  color: var(--secondary-font-color);
}
.search-item::placeholder {
  color: #a1a1aa;
  font-size: var(--font-size-sm);
}

.search-icon {
  position: absolute;
  color: var(--secondary-font-color);
  top: 20%;
  right: 0;
  margin-right: 0.8rem;
  cursor: pointer;
  z-index: 1;
}

.nav-links--single {
  white-space: nowrap;
}

/* HERO */
.hero {
  position: relative;
}

.hero-img {
  background-image: url("/homepage.jpg");
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 600px;
  padding-top: 10rem;
  margin-bottom: 7.5rem;
}

.hero-img img {
  border-radius: 12px;
}

.hero-card {
  position: absolute;
  background: var(--primary-bg-color);
  border-radius: 12px;
  width: 50rem;
  height: 27rem;
  left: 6.4rem;
  border: 1px solid var(--secondary-bg-color);
  top: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  gap: 2.4rem;
}

.hero-card-heading {
  font-weight: 600;
  font-size: var(--font-size-semi-bold);
  line-height: var(--line-height-semi-bold);
}

.posts-card--badge,
.hero-card--badge {
  font-size: var(--font-size-sm);
  font-weight: 500;
  background: var(--accent-color);
  width: 9.7rem;
  height: 2.8rem;
  line-height: 2rem;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  text-align: center;
}

.posts-card--footer,
.hero-card--footer {
  display: flex;
  color: #97989f;
  align-items: center;
  gap: 1.8rem;
  line-height: 2.4rem;
}

.posts-card--author,
.hero-card--author {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.posts-card--author-img,
.hero-card--author-img {
  height: 3.6rem;
  width: 3.6rem;
}

.posts-card--author-img img,
.hero-card--author-img img {
  border-radius: 50%;
}

.hero-card--name {
  font-weight: 500;
}

.adContainer {
  background: var(--primary-bg-color);
}

.adContainer {
  padding: 7.5rem 0 7.5rem 0;
}

.adCard {
  width: 75rem;
  height: 10rem;
  margin: auto;
  background: var(--secondary-bg-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--ad-font-color);
  gap: 0.3rem;
}

.adCard-ad {
  font-size: var(--font-size-sm);
}

.adCard-order {
  font-weight: 600;
  font-size: var(--font-size-md);
}

.adCard-space {
  font-size: 1.8rem;
}

/* MAIN */
.main {
  background: var(--primary-bg-color);
}

.posts {
  padding: 3.2rem 0;
}

.posts-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  padding: 3.2rem 0;
}

.posts-cards {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 2rem;
}

.post-card {
  width: 39rem;
  height: 49rem;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.posts-card--img {
  width: 36rem;
  height: 24rem;
}

.posts-card--img img {
  border-radius: 6px;
}

.posts-card--badge {
  color: var(--accent-color);
  line-height: 2rem;
  background: rgba(75, 107, 251, 0.05);
  align-self: flex-start;
}

.posts-card--texts {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.8rem;
  align-self: flex-start;
}

.posts-card--footer {
  gap: 2rem;
  align-self: flex-start;
}

/* VIEW ALL BTN */
.view-all-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 2rem; */
}

.view-all {
  padding: 1.2rem 2rem;
  border: 1px solid rgba(105, 106, 117, 0.302);
  border-radius: 6px;
  color: var(--ad-font-color);
  cursor: pointer;
}

/* *********************************************************************************************** */
/* WELCOME PAGE */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  width: 100%;
  background: var(--primary-bg-color);
  text-align: center;
  gap: 5rem;
}

.welcome-heading {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
  padding: 0 0.9rem;
  align-self: center;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.welcome-links {
  list-style: none;
  width: 80%;
}

.signup-btn {
  padding: 1.3rem 1rem;
  background: var(--accent-color);
  border-radius: 20px;
  color: var(--primary-font-color);
  transition: all 0.3s linear;
  margin-bottom: 2rem;
}

.error-message,
.auth-redirect {
  text-align: center;
}

.auth-redirect {
  letter-spacing: 1px;
}

.auth-redirect span {
  text-decoration: underline;
  font-weight: 700;
}

.form-btn:hover,
.signup-btn:hover {
  transform: scale(1.05);
  background: #4660d3;
}

/* FORM */
/* Sign up Form */
.signup-form {
  display: flex;
  padding: 5rem 2rem;
  flex-direction: column;
  height: 100vh;
  background: var(--primary-bg-color);
  gap: 2rem;
}

.signup-form-heading {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-left: 1.5rem;
}

.signup-form .input {
  font-size: inherit;
  width: 100%;
  padding: 1.5rem;
  border-radius: 5px;
  border: 1px solid #000;
  background: #ffffffda;
  border: none;
  outline: none;
}

.form-btn {
  width: 50%;
  align-self: center;
  padding: 1.3rem 1rem;
  background: var(--accent-color);
  border-radius: 20px;
  color: var(--primary-font-color);
  transition: all 0.3s linear;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  font-size: inherit;
  cursor: pointer;
}

/* NO PAGE FOUND */
.no-page {
  background: var(--primary-bg-color);
  height: 100vh;
  padding: 2rem;
}

/* DASHBOARD */
.dashboard {
  /* background: var(--primary-bg-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: var(--primary-font-color); */
}
